* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    min-width: 260px;
}

#mainNav {
    z-index: 100;
    font-size: 18px!important;
    position: fixed!important;
    width: 100%!important;
    background-color: #4980c0!important;
    min-width: 260px!important;
}

#footer {
    background-color: #4980c0;
    min-width: 260px;
}

#footer p {
    color: white;
    margin: auto!important;
    padding: auto!important;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

#logo:hover {
    color: #f9f9f9;
}

#mainList li a {
    color: #fff;
    cursor: pointer;
    padding: 30px 30px;
    font-size: 18px;
}


#mainList li a:hover {
    color: #f9f9f9;
    background-color: darkblue;
}

#mainList li a:active {
    background-color: white;
    color: darkblue;
}

#sideList li a {
    color:#fff;
    cursor: pointer;
    padding: 28px 35px;
}

#sideList li a:hover {
    color: #f9f9f9;
    background-color: darkblue;
}

#sideList li a:active {
    background-color: white;
    color: darkblue;
}

#navbarNav {
    background-color: #4980c0;
}

#space {
    height:100px;
}

#mainContent {
    margin: 25px;
}

#footerText {
    padding: 10px 0px;
}

h1 {
    padding: 25px;
    color: white;
    -webkit-text-stroke: 1.25px black;
}


