* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    min-width: 260px;
}

#mainNav {
    background-color: #4980c0!important;
    min-width: 260px!important;
}

#logo {
    background-color: white;
    padding: 10px 20px;
}

#mainList li a {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

#mainList li{
    display: inline-block!important;
}


#mainList li:hover {
    background-color: darkblue;
}


#sideList li a {
    color:#fff;
    cursor: pointer;
    font-weight: bold;
}
