main {
    background-color: lightblue;
}

#mainContent {
    width: 95%;
    margin: auto;
    padding: auto;
    background-color: white;
    border: solid 3px black;
    color: darkslategray;
    padding: 15px;
}

#content {
    border: 1px solid black;
    margin: 25px;
    width: 80%;
}

#buttonContent {
}